#timer{
    font-size: 150px;
}
#teza{
    text-align: center;
}
.alert{
    position: absolute;
}
.jumbotron{
    background: white !important;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    height: 80vh;
    display: flex;
    align-items: center;
    margin: auto;
    min-width: 100%;
}
.jumbotron > div{
    margin: auto;
}
.input-minuty{
    width: 200px;
}
#settings .row{
    margin-bottom: 30px;
}
.label-settings{
    ​​font-weight: 300;
    //font-size: 24px;
}
.border-top{
    padding-top: 25px;
}
.timer-controls button{
    text-transform: uppercase !important;
}
.joker-controls{
    margin-top: 20px;
}
.joker-controls button{
    border-color: rgb(122, 8, 112) !important;
    color: rgb(122, 8, 112) !important;
    
}
.joker-controls button:hover{
    background-color: rgb(122, 8, 112) !important;
    color: #fff !important;
}
.joker-timer{
    font-size: 80px;
    color: rgb(122, 8, 112);
    text-align: center;
}
.joker-timer p{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: -20px;
    margin-top: 20px;

}

.timer, .joker-timer {
	text-align: center;
}
body {

    background: #e9ecef !important;

}
.img-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1rem;
    max-width: 500px;
    margin: auto;;
}
.img-container {
    padding: 1rem;
    display: none; /*js changes it to grid*/
    place-items: center;
    max-width: 250px;
    margin: auto;
}
.img-container::before {
    content: "";
    padding-bottom: 100%;
    display: block;
    grid-area: 1 / 1 / 2 / 2;
  }
  .img-container img{
    width: 100%;
    grid-area: 1 / 1 / 2 / 2;
  }
.table td, .table th {

    border-top: none !important;
}
.credits{
    font-weight: 600;
    text-align: right;
    
}
.adv{
    width: 100%;
    float: left;
}
.adv img{
    float:  left;
}
.adv p{
    margin: 10px;
}
.container{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
    flex-direction: column;
}
nav{
    width: 100%;
}